[submodule "modules/tetris"]
	path = modules/tetris
	url = https://github.com/cosmo-ray/yirl-ascii-tetris.git
[submodule "modules/AscII"]
	path = modules/AscII
	url = http://github.com/cosmo-ray/ai.git
[submodule "modules/falling-guy"]
	path = modules/falling-guy
	url = https://github.com/cosmo-ray/falling-guy.git
[submodule "modules/pre-hangover-simulator"]
	path = modules/pre-hangover-simulator
	url = https://github.com/cosmo-ray/pre-hangover-simulator.git
[submodule "modules/star-pike-and-jmp"]
	path = modules/star-pike-and-jmp
	url = https://github.com/cosmo-ray/star-pike-and-jmp.git
[submodule "modules/little-space"]
	path = modules/little-space
	url = https://github.com/cosmo-ray/little-space.git
[submodule "modules/little-mage"]
	path = modules/little-mage
	url = https://github.com/cosmo-ray/little-space.git
[submodule "modules/medieval_battle"]
	path = modules/medieval_battle
	url = https://github.com/cosmo-ray/medieval_battle
[submodule "modules/sl"]
	path = modules/sl
	url = https://github.com/cosmo-ray/sl.git
[submodule "modules/CursesBird"]
	path = modules/CursesBird
	url = https://github.com/cosmo-ray/CursesBird.git
[submodule "modules/polis-at-war"]
	path = modules/polis-at-war
	url = http://github.com/cosmo-ray/polis-at-war.git
[submodule "modules/clash-of-iron-and-bronze"]
	path = modules/clash-of-iron-and-bronze
	url = http://github.com/cosmo-ray/clash-of-iron-and-bronze
[submodule "modules/le-temps-des-escargots"]
	path = modules/le-temps-des-escargots
	url = http://github.com/cosmo-ray/mggj-3
[submodule "modules/underground"]
	path = modules/underground
	url = https://github.com/cosmo-ray/y_simple_3d_labyrinthe
